.main-content{
    text-align: center;
}

.scoreboard-container {
  width: 1920px;
  height: 1080px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  margin: 0px auto;
}
 